<%= form_for([current_author, profile], :html => {:class => "form-horizontal contact-form", :role=> "form"}) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-md-12">
      <%= f.text_field(:name, :class => "form-control", :id => "name", :placeholder => "Display Name", required: true) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <textarea name="profile[description]" class="form-control" id="desription" placeholder="About You" rows="8" required></textarea>
    </div>
  </div>
  <button type="submit" name="submit" class="btn send-btn">Update</button>
<% end %>
