<div class="main-content">
  <div class="container">
    <div class="row" style="position: relative">
      <div class="col-md-8">
	<div class="leave-comment mr0">
	  <h3 class="text-uppercase">New Story</h3>
	  <%= render 'form', story: @story %>
        </div>
      </div>
    </div>
  </div>
</div>
