<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
	<h3><%= @subscriber.email %> has been subscribed</h3>
	<p>Click 
	  <%= link_to 'here', session[:return_to] %>
	  to continue
	</p>
      </div>
    </div>
  </div>
</div>
