<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
	<%= debug @stories %>
      </div>
      <%= render partial: "stories/sidebar" %>
    </div>
  </div>
</div>
